<fieldset class="divider special_info"><label>{{writeString=webdav.detail_users_legend}}</label>
  <div class="form_message">{{users}}
    <br /></div>
</fieldset>
<fieldset class="divider nolegend">
  <div class="form_message">{{user_backend_link}}</div>
</fieldset>
